{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block containe %}
<h1>Bienvenue - {{ app.user.firstname }}</h1>
{# {{dump(app.user)}} #}
-modifier mon mot de passe <br>
-ajouter mes adresses <br>
-mes commandes <br>

{% endblock %}
