{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block containe %}
<h1>Bienvenue - {{ app.user.firstname }} dans votre compte</h1>
{# {{dump(app.user)}} #}
<hr>
<a href="{{path('account_password')}}">Modifier mon mot de passe</a><br>
-ajouter mes adresses <br>
-mes commandes <br>

{% endblock %}
