{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block containe %}
<div class="block-small"> 
    {% for message in app.flashes('notice') %}
    <div id="notification" class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
  <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>  
  {% for message in app.flashes('notice') %}
        <div id="notification" class="alert alert-success">
            {{ message }}
        </div>
  {% endfor %}
   {{ form(form) }}
</div>
{% endblock %}