body{
    position: relative;
}


/* navbar-custom */
.navbar-item-custom, .navbar-item-custom a{
    color: #fff;
    
}
/* footer-custom */
.footer-custom{
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
/* Products card Majuscule */
.card-title {
    text-transform: uppercase;
    
}
/* Products card child(3)*/
.card-text:nth-child(3) {
   font-weight: bold;
}

#bloc{
    margin-top: 80px !important;
}

.block-small{
    margin-top: 100px !important;
    font-weight: bold;
    margin: 0 auto;
}

.form-check {
    padding: 20px 65px;
    background-color: #5c6fc471;
    margin-top: 15px;
}

.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #5c6fc471;
    padding: 20px;
    margin-top: 29px;
}