{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{%block containe %}
<div class="row">
    <div
     class="col-md-3">
        <h3>Filtrer</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}         
        {{ form_end(form) }}
    </div>
    <div class="col-md-9">
        <h1 class="text-center mb-5">Nos produits</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                {# include des produits #}
                {% include "product/single_product.html.twig" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}