{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block containe %}
{# récupère les passers à la vue #}
{% for message_flash, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ message_flash }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
{% endfor %}

    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                <h1 class="mt-5">Inscription</h1>
                <p class="lead">Veuillez remplir le formulaire ci-dessous pour vous inscrire</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}



{% block body %}

{% endblock %}
