{% extends 'base.html.twig' %}

{% block title %}valider ma commande{% endblock %}

{% block containe %}
    <h2>Je passe ma commande</h2>
    <p>choisissez vos préférence avant de passer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">            
            <p>Choisir mon addresse de livraison</p><br>
            <p>Choisir mon transporteur</p>
        </div>
        <div class="col-md-6">
            <p>Récap de la commande</p><br>
            <p>Valider ma commande</p>
        </div>
    </div>
{% endblock %}
